Webpack(imports/exports) 
    Babel
    Scss
    Eslint
    2 mods 
        -Dev
            Dev Server, Sourcemap, Eslint, Not minified JS & CSS
        -Prod
            Minified code
GIT
    Prod    
    
    Dev